@charset "utf-8";

* {
  box-sizing: border-box;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  margin-top: 80px;
}
#footer {
  background-color: #444;
  color: #b3b3b3;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer a {
  font-weight: 600;
}
/* ======================== Header ======================== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
}
header h1 {
  margin: auto;
}
header h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  margin-top: 80px;
}
#breadcrumb {
  padding: 10px 40px 10px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: '/\00a0';
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #026ac5;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
#map-container {
  position: relative;
}
.map-skip-link {
  position: absolute;
  left: 50%;
  top: 0;
  min-width: 50%;
  text-align: center;
  background: #b36200;
  color: #000;
  padding: 0.5em;
  font-size: 1em;
  line-height: 1;
  z-index: 10000;
  will-change: opacity;
  opacity: 0;
  transform: translateX(-50%);
}
.map-skip-link:link,
.map-skip-link:visited,
.map-skip-link:hover,
.map-skip-link:active {
  color: #fff;
}
.map-skip-link:focus {
  opacity: 1;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-wrap: wrap;
  background-color: #207ab6;
  align-items: center;
  outline: none;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 16px 16px 8px;
  width: 100%;
}

.filter-options select {
  flex: 1 1 auto;
  width: 100%;
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
}

@media (min-width: 600px) {
  .filter-options h2 {
    width: auto;
    margin: 0;
    margin-left: 20px;
    margin-right: 8px;
  }
  .filter-options select {
    max-width: 200px;
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  margin: 0;
  padding: 15px;
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
}
#restaurants-list li {
  display: grid;
  grid-template-rows: repeat(3, auto) 1fr auto;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  object-fit: cover;
}
#restaurants-list li h2 {
  color: #b35f00;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #b36200;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Notification ====================== */

.notification {
  position: fixed;
  left: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 52px;
  padding: 8px 24px;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: #ddd;
  background-color: #202124;
  border-radius: 4px;
  will-change: transform;
  transform: translateY(300px);
  transition: 0.5s transform cubic-bezier(0.89, 0.23, 0.59, 1.385);
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
  visibility: hidden;
}

.notification_visible {
  visibility: visible;
  transform: translateY(0);
}

.notification__button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  padding: 4px 6px;
  margin: 0 8px;
  cursor: pointer;
}

.notification__button:first-of-type {
  margin-left: 32px;
}

.notification__button:hover,
.notification__button:focus {
  color: #f18200;
}

/* ====================== Restaurant Details ====================== */
.inside #maincontent {
  margin-top: 0;
}

.inside #map-container {
  height: 500px;
}

@media (min-width: 1100px) {
  .inside #map-container {
    position: fixed;
    top: 80px;
    right: 0;
    height: 100%;
    width: 50%;
  }
  #breadcrumb,
  #restaurant-container,
  #reviews-container,
  .inside #footer {
    width: 50%;
  }
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
#restaurant-name {
  color: #b35f00;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  max-width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 18px 40px 30px;
}
#reviews-container {
  padding: 30px 40px 80px;
  outline: none;
}
#reviews-container h2 {
  color: #b35f00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 10px;
  position: relative;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
