.notification {
  position: fixed;
  left: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 52px;
  padding: 8px 24px;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: #ddd;
  background-color: #202124;
  border-radius: 4px;
  will-change: transform;
  transform: translateY(300px);
  transition: 0.5s transform cubic-bezier(0.89, 0.23, 0.59, 1.385);
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  visibility: hidden;
}

.notification_visible {
  visibility: visible;
  transform: translateY(0);
}

.notification__button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  padding: 4px 6px;
  margin: 0 8px;
  cursor: pointer;
}

.notification__button:first-of-type {
  margin-left: 32px;
}

.notification__button:hover,
.notification__button:focus {
  color: #f18200;
}
